* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

section{
    margin: 130px;
}
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin: 13px 0px 10px 30px;
}

.text-primary {
    color: red;
}

.btn-primary {
    color: white;
    height: 64px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    background: red;
    margin-right: 20px;
}

.fa-phone {
    margin: 10px;
}

.btn-contact {
    color: red;
    font-size: 20px;
    width: 160px;
    height: 64px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 55px 220px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 40px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 220px;
}

.banner-text {
    width: 585px;
    height: 356px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About section styles */
.about {
    /* margin-top: 130px; */
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-bottom: 130px; */
    
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* What I do styles */
.what-i-do {
    text-align: center;
    
}

.skill {
    text-align: left;
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 40px;

}

.skills-container {
    display: flex;
    gap: 20px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
margin-bottom: 20px;

}

.skill-description {
    font-size: 16px;
    color: #757575;
}
/* Resume styles */
